docling
langchain-docling
langchain
langchain-openai
langgraph
langchain-chroma
streamlit
streamlit-extras
python-dotenv
chromadb
tiktoken
pandas
langchain-text-splitters
numpy
psycopg2-binary
sqlalchemy