docling
langchain-docling
langchain
langchain-openai
langchain-huggingface
langgraph
streamlit
streamlit-extras
python-dotenv
tiktoken
pandas
langchain-text-splitters
numpy
psycopg2-binary
sqlalchemy
ragas
huggingface-hub
datasets
plotly
requests